.container {
  width: 1128px;
  display: flex;
  justify-content: center;
}

.gallery {
  width: 360px;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 24px;
  grid-row-gap: 20px;
  padding: 0;
}
